.left-side {
    position: fixed;
    left: 0;
    width: 20vw;
    height: 100%;
    padding: 8px 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.left-side__main-logo {
    width: 58px;
    margin: 30px;
}

.left-side__menu {
    color: #333;
}

.menu__item {
    padding: 12px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
    display: flex;
}

.menu__item i {
    font-size: 24px;
    width: 58px;
    text-align: center;
}

.menu__item:hover {
    background: rgba(0, 0, 0, 0.04);
}

.--selected p,
.--selected i {
    font-weight: 600;
}

.feed-empty-message-title {
    margin-top: 40vh;
    text-align: center;
    font-size: 28px;
    opacity: 0.3;
    font-weight: 600;
}

.feed-empty-message-describe {
    text-align: center;
    font-size: 14px;
    opacity: 0.3;
}

.feed-empty-message-describe a {
    font-size: 14px;
    color: #000;
}

.search-container {
    position: fixed;
    height: 100%;
    width: 20vw;
    right: 0;
    padding: 0 42px;
}

.search__search-bar {
    width: 100%;
    height: 36px;
    padding: 0 4px;
    margin-top: 30px;
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar__input {
    width: 90%;
    background: #efefef;
    border: none;
    outline: none;
}

.search-bar__icon {
    width: 10%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.search__result {
    width: 100%;
    margin: 4px 0;
}

.result__item {
    display: block;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
    transition: background 0.2s;
}

.result__item:hover {
    background: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.--not-found {
    font-style: italic;
}

.--not-found:hover {
    cursor: unset;
    background: unset;
}

.profile {
    position: relative;
    top: 0;
    left: 34vw;
    z-index: 9;
    width: 32vw;
    padding: 30px 0;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile__head {
    display: flex;
}

.head__full-name {
    font-weight: 600;
}

.head__username {
    margin-left: 6px;
    opacity: 0.6;
}

.head__log-out-btn {
    cursor: pointer;
    color: red;
    margin-left: auto;
}

.create-post {
    margin-top: 6px;
}

.post__content-reader {
    width: 100%;
    height: 96px;
    padding: 6px 10px;
    margin: 12px 0;
    background: #efefef;
    border-radius: 4px;
    border: none;
    outline: none;
    resize: none;
}

.post__photo-preview {
    position: relative;
    display: none;
    width: 12vw;
    aspect-ratio: 1/1;
    margin: auto;
}

.photo-preview__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s;
}

.photo-preview__delete {
    display: none;
    position: absolute;
    bottom: 8%;
    left: calc(6vw - 14px);
    color: #fff;
    font-size: 28px;
    transition: all 0.2s;
}

.post__photo-preview:hover .photo-preview__thumbnail {
    filter: brightness(0.6);
}

.post__photo-preview:hover .photo-preview__delete {
    display: block;
    cursor: pointer;
}

.photo-preview__delete:hover {
    color: red;
}

.post__photo-reader {
    margin-bottom: 12px;
    cursor: pointer;
}

.post__photo-reader i {
    color: green;
    margin-right: 6px;
    font-size: 22px;
}

input[name=photo] {
    display: none;
}

.post__post-btn {
    background: var(--logo-color);
    width: 96px;
    padding: 10px 8px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    transition: opacity 0.2s;
}

.post__post-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.feed {
    width: 32vw;
    position: relative;
    left: 34vw;
    top: 30px;
}

.feed__post {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.post__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__auth-name {
    font-weight: 600;
}

.head__post-del {
    color: red;
    cursor: pointer;
    text-align: right;
}

.post__time {
    font-size: 14px;
    opacity: 0.8;
}

.post__photo {
    width: 100%;
    max-height: 32vw;
    object-fit: cover;
    border-radius: 4px;
    margin: 12px 0;
}

.post__react {
    font-size: 24px;
    cursor: pointer;
    display: block;
    transition: color 0.2s;
}

.post__react:hover {
    color: rgba(0, 0, 0, 0.4);
}

.fa-solid.fa-heart {
    color: red;
}

.post__no-like {
    font-weight: 600;
    margin: 6px 0;
}

.post__content {
    word-wrap: break-word;
    margin-bottom: 12px;
}